@use "../custom" as *;
@use "../components/mixins" as *;
.menu-bg {
  @include gradient;

  .navbar-nav {
      margin-right: 2rem;
    a {
      color: $white !important;
      font-size: 1rem;
      padding: 0.95rem 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
